
#name
{
	font-size:50px;
	background-color: F6E4B4;
	border-width:3;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
}
	
#mydetails2
	{
	background-color: F6E4B4;
	font-size:24px;
	color:green;
	}	

